<?hbsx cssns:css="./article.module.css" ?>
<article css:text-container>
    <h2 css:font-size-medium css:font-color-bold>{{ title }}</h2>
    <p css:truncate={{ isTruncated }}>{{ content }}</p>
</article>